{% extends 'users/auth_base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block maincontent %}
  <div class="card-header">Login to Alahaberry</div>
  <div class="card-body">
    <form method="POST">
      {% csrf_token %}
      {{form|crispy}}
      <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </form>
    <div class="text-center" style="margin-top:5px">
      <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-lg btn-block"><i class="fab fa-google"></i> Google Login</a>
      <a href="{% provider_login_url 'facebook' %}" class="btn btn-primary btn-lg btn-block"><i class="fab fa-facebook"></i> Facebook Login</a>
      <p>Need an account? <a href="{% url 'account_signup' %}">Sign Up</a></p>
      <p>Forgot your password? <a href="{% url 'account_reset_password' %}">Reset password</a></p>
    </div>
  </div>
{% endblock maincontent %}


  