{% extends 'alaha_market/home_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block CSS %}
  <link rel="stylesheet" type="text/css" href="{% static 'alaha_market/css/login.css' %}">
{% endblock CSS %}

{% block maincontent %}
	<h4 class="login-form-heading" style="width:70%;margin:20px auto;text-align:center;">Logout</h4>
	  <div class="form_field row">
	  <div class="col-xl-8 col-md-8 col-sm-12 mr-auto ml-auto">
	    <h4>Are you sure you want to logout?</h4>
	    <form method="post" action="{% url 'account_logout' %}">
		  {% csrf_token %}
		  {% if redirect_field_value %}
		  	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		  {% endif %}
		  <button type="submit" class="btn btn-danger btn-lg">Logout</button>
		</form>
	  </div>
	</div>
	
{% endblock maincontent %}

