{% extends 'users/auth_base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block maincontent %}
  <div class="card-header">Logout</div>
  <div class="card-body">
  	<h4>Are you sure you want to logout?</h4>
    <form method="post" action="{% url 'account_logout' %}">
	  {% csrf_token %}
	  {% if redirect_field_value %}
	  	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
	  {% endif %}
	  <button type="submit" class="btn btn-danger btn-lg btn-block">Logout</button>
	</form>
	<div class="text-center" style="margin-top:5px">
		<p><a href="{% url 'staff-dashboard' %}">Dashboard</a></p>
		<p><a href="{% url 'homepage' %}">Home page</a></p>
	</div>
  </div>
{% endblock maincontent %}
