{% extends 'users/auth_base.html' %}
{% load crispy_forms_tags %}
{% load account %}
{% load socialaccount %}


{% block maincontent %}
  <div class="card-header">Password Reset</div>
  <div class="card-body">
  	<h4 class="login-form-heading" style="width:70%;margin:20px auto;text-align:center;">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</h4>
    <div class="text-center" style="margin-top:5px">
      <p><a href="{% url 'homepage' %}">Home page</a></p>
    </div>
  </div>
{% endblock maincontent %}
