{% extends 'alaha_market/home_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load account %}
{% load socialaccount %}


{% block CSS %}
  <link rel="stylesheet" type="text/css" href="{% static 'alaha_market/css/login.css' %}">
{% endblock CSS %}

{% block maincontent %}
  <h4 class="login-form-heading" style="width:70%;margin:20px auto;text-align:center;">Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</h4>
  {% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endif %}
  <div class="form_field row">
    <form class="col-xl-8 col-md-8 col-sm-12 mr-auto ml-auto" method="POST" action="{% url 'account_reset_password' %}">
      {% csrf_token %}
		<fieldset>
			<legend>Reset Password</legend>
			{{ form | crispy }}
		</fieldset>
		<button class="btn btn-outline-secondary" type="submit">Request Password Reset</button>		
		<p>Please contact us if you have any trouble resetting your password.</p>
    </form>
  </div>
{% endblock maincontent %}

