{% extends 'users/staff_base.html' %}
{% load auth_extras %}
{% load static %}
{% load crispy_forms_tags %}

{% block maincontent %}
  <div class="row">
    <div class="col-md-12">
      <div class="bg-mattBlackLight my-2 p-3">                  
        <h4 class="text-center">All Clerks</h4>
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
        <div class="manage-items">
          <input type="text" name="filter" id="filter-clerks" class="form-control" placeholder="Filter Items">
          {% if user|has_group:"admins" %}
            <button  type="button" data-toggle="modal" data-target="#adminAddClerkModal" class="btn btn-secondary"><i class="fas fa-plus-circle"></i> Add Clerk</button>
          {% endif %}
        </div>
        <table class="items-table clerks-table">
          <thead>
            <tr>
              <th><i class="fas fa-list-ol"></i></th>
              <th><i class="fas fa-user"></i> Username</th>
              <th><i class="fas fa-file-signature"></i> Phone</th>
              <th><i class="fas fa-file-signature"></i> Email</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for clerk in clerks %}
              <tr>
                <td>{{ clerk.profile.id }}</td>
                <td>{{ clerk.username }}</td>
                <td>{{ clerk.profile.phone_number }}</td>
                <td>{{ clerk.email }}</td>
                <td class="text-center">
                  {% if user|has_group:"admins" %}
                    <a href="{% url 'seller-profile' clerk.username %}" class="btn btn-info" style="padding:1px 5px"><i class="fas fa-eye"></i></a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
 	</div>

<!-- Add User Modal -->
<div class="modal fade" id="adminAddClerkModal" tabindex="-1" role="dialog" aria-labelledby="adminAddClerkModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adminAddClerkModalLabel">Add Clerk</h5>
        {% if messages %}
          {% for message in messages %}
            <h3>{{ message }}</h3>
          {% endfor %}
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="adminAddClerkForm" method="POST" action="{% url 'admin-add-clerk' %}">
        {% csrf_token %}
        <div class="modal-body">
          <h5 style="color:darkred" class="errorMessages"></h5>
          <fieldset>
            {{ add_clerk_form | crispy }}
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock maincontent %}

{% block JS %}
  <script src="{% static 'users/js/all_clerks.js' %}"></script>
{% endblock JS %}