{% extends 'users/staff_base.html' %}
{% load static %}

{% block CSS %}

{% endblock CSS %}

{% block maincontent %}
  <form id="sellerAddItemForm" method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="mb-4"><i class="fas fa-trash-alt"></i> Delete Category</legend>
			<h2>Are you sure you want to delete {{ category.category_name }}</h2>
		</fieldset>
    	<div class="form-group">
    		<button type="submit" class="btn btn-outline-danger" id="submit_delete_item">Yes, Delete</button>
    		<a href="{% url 'staff-dashboard' %}" class="btn btn-outline-secondary">Cancel</a>
    	</div>
  </form>

{% endblock maincontent %}


{% block JS %}
	
{% endblock JS %}

