{% extends 'alaha_market/home_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block CSS %}
  <link rel="stylesheet" type="text/css" href="{% static 'alaha_market/css/login.css' %}">
{% endblock CSS %}

{% block maincontent %}
  <h4 class="login-form-heading" style="width:70%;margin:20px auto;text-align:center;">Reset Done</h4>
  <div class="form_field row">
  	<div class="alert alert-info">
		An email has been sent with instructions to reset your password
	</div>
  </div>
{% endblock maincontent %}
