{% extends 'alaha_market/home_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block CSS %}
  <link rel="stylesheet" type="text/css" href="{% static 'alaha_market/css/login.css' %}">
{% endblock CSS %}

{% block maincontent %}
  <h4 class="login-form-heading" style="width:70%;margin:20px auto;text-align:center;">Password Reset Complete</h4>
  {% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">{{ message }}</div>
		{% endfor %}
	{% endif %}
  <div class="form_field row">
    <div class="alert alert-info">
		Your password has been reset
	</div>
	<a href="{% url 'login' %}">Sign In Here</a>
  </div>
{% endblock maincontent %}

