{% extends 'alaha_market/home_base.html' %}
{% load static %}

{% block CSS %}
  <link rel="stylesheet" type="text/css" href="{% static 'alaha_market/css/category_page.css' %}">
{% endblock CSS %}

{% block maincontent %}
  <section id="categoryWrapper">
      <div class="category-landing-page row">
        <div class="category-title col-xl-10 col-md-10 col-sm-10 mr-auto">
          <h1>All Brand New Items</h1>
        </div>
      </div>

      <!-- Category products -->
      <div id="category-products">
        <h1>New Products</h1>
        <h6>Showing {{num_of_products}} products</h6>
        <div class="line-design"></div>
        <div class="row product_grid">
          {% for product in products %}
            {% if product.product_thumbnail %}
              <div class="card col-xl-3 col-md-3 col-sm-6">
                <img loading="lazy" src="{{ product.product_thumbnail.url }}">
                <div class="card-body">
                  <h6 class="store_name"><a href="{% url 'shops' product.seller.id product.seller.username %}">
                    {% if product.seller.profile.business_name != 'NA' %}
                      {{ product.seller.profile.business_name }}
                    {% else %}
                      {{ product.seller.username }}
                    {% endif %}
                  </a></h6>
                  <h4 class="product_name">{{ product.product_name }}</h4>
                  <a href="{% url 'view-product' product.id product.product_name %}" class="btn btn-danger">BUY NOW</a>
                </div>
                <span class="new_tag">
                  {% if product.brand_new %}
                    New
                  {% else %}
                    Used
                  {% endif %}
                </span>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- ./Category products -->
  </section>
{% endblock maincontent %}

{% block JS %}
  <script src="{% static 'alaha_market/js/category_page.js' %}"></script>
{% endblock JS %}
