{% extends 'users/staff_base.html' %}
{% load auth_extras %}
{% load static %}
{% load crispy_forms_tags %}


{% block CSS %}
  <link rel="stylesheet" type="text/css" href="{% static 'alaha_market/css/view_product.css' %}">
{% endblock CSS %}

{% block maincontent %}
  <section id="productWrapper">
    <div class="product-landing-page row">
        <div class="product-title col-xl-5 col-md-5 col-sm-5 mr-auto">
            <h4>Seller: {{ product.seller.username }}
            </h4>
            {% if product.seller.profile.business_city %}
              <h5>Location: {{ product.seller.profile.business_city }}</h5>
            {% endif %}
            <h1>{{product.product_name}}</h1>
        </div>
    </div>

    <div class="product-details row">
        <div class="image-holder col-xl-5 col-md-5 col-sm-12">
            <div class="selected-img">
                <img src="{% if product.product_thumbnail %} 
                  {{ product.product_thumbnail.url }} 
                {% endif %}">
            </div>
            <div class="product-thumbs">
                <div class="thumbnail selected-thumb">
                    <img src="{% if product.product_thumbnail %} 
                      {{ product.product_thumbnail.url }} 
                    {% endif %}">
                </div>
                <div class="thumbnail">
                    <img src="{% if product.product_image1 %} 
                      {{ product.product_image1.url }} 
                    {% endif %}">
                </div>
                <div class="thumbnail">
                    <img src="{% if product.product_image2 %} 
                      {{ product.product_image2.url }} 
                    {% endif %}">
                </div>
                <div class="thumbnail">
                    <img src="{% if product.product_image3 %} 
                      {{ product.product_image3.url }} 
                    {% endif %}">
                </div>
            </div>
        </div>
        <div class="product-description col-xl-7 col-md-7 col-sm-12">
            <h1>{{product.product_name}}</h1>
            <p id="productRef"><span>Reference:</span> {{product.product_uid}}</p>
            <h2 class="product-price">
                <!--<span class="old-price">GHC 11.99</span>-->
                <span class="new-price">GHC {{product.product_price}}</span>
                <!--<span class="discount-percent">Save 15%</span>-->
            </h2>
            <p id="full-item-description">
                {{product.product_desc}}
            </p>
            <hr class="horizontal-separator">
            {% if user.is_authenticated %}
              {% if user == product.seller %}
                <a class="btn btn-outline-danger" href="{% url 'add-product-damage' product.id %}">Add Item Conditions</a>
                <a class="btn btn-outline-primary" href="{% url 'update-product' product.id %}">Edit Item</a>
                <a class="btn btn-outline-success" href="{% url 'add-item-color' product.id %}">Add Colors for Item</a>
                
              {% else %}
                  {% if user|has_group:"admins" or user|has_group:"clerks" %}
                    <a class="btn btn-outline-danger" href="{% url 'add-product-damage' product.id %}">Add Item Conditions</a>
                    <a class="btn btn-outline-primary" href="{% url 'admin-item-edit' product.id %}">Edit Item</a>
                  {% endif %}
              {% endif %}
            {% endif %}

            <p class="share-item">
                <span class="share-title">Share</span>
                <a class="col-md-1 mr-auto" href="#"><i class="fab fa-facebook-square"></i></a> 
                <a class="col-md-1 mr-auto" href="#"><i class="fab fa-twitter-square"></i></a> 
                <a class="col-md-1 mr-auto" href="#"><i class="fab fa-instagram"></i></a>
            </p>
        </div>
    </div>

    <div class="nav nav-tabs" id="nav-product-details" role="tablist">
      <a class="nav-link active" id="nav-desc-tab" data-toggle="tab" href="#nav-desc" role="tab" aria-controls="nav-desc" aria-selected="true">Description</a>
      <a class="nav-link" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="false">Product Details</a>
      <a class="nav-link" id="nav-damages-tab" data-toggle="tab" href="#nav-damages" role="tab" aria-controls="nav-damages" aria-selected="false">Conditions</a>
    </div>
    <div class="tab-content" id="nav-product-detailsContent">
      <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
        <p>
            {{product.product_desc}}
        </p>
      </div>
      <div class="tab-pane fade" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
        <p>
          {{product.product_details}}
        </p>
      </div>
      <div class="tab-pane fade" id="nav-damages" role="tabpanel" aria-labelledby="nav-damages-tab">
        <ul class="list-unstyled col-md-12">
          {% for damage in damages %}
            <li class="media row">
              <div class="damage-img col-md-4">
                <a href="{% if damage.image %} {{damage.image.url}} {% endif %}"><img src="{% if damage.image %} {{damage.image.url}} {% endif %}" class="mr-3" alt="item-image" style="max-width: 250px"></a>
              </div>
              <div class="media-body col-md-6 mr-auto">
                <p class="mt-0 mb-1">
                    {{damage.description}}
                </p>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </section>

{% endblock maincontent %}

{% block JS %}
  <script src="{% static 'alaha_market/js/view_product.js' %}"></script>
{% endblock JS %}
