{% extends 'alaha_market/base2.html' %}
{% load static %}

{% block keywords %}
  {% for product in search_results %}
    {{ product.product_name }},
  {% endfor %}
{% endblock keywords %}


{% block title %}
  {{ product.product_name }} | Alahaberry Marketplace
{% endblock title %}


{% block CSS %}
  <!-- Search Results CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'alaha_market/css/product-page.css' %}"> 
{% endblock CSS %}

{% block productPageCategories %}
  <div class="dropdown">
    <a class="btn dropdown-toggle box-shadow" href="#" role="button" id="categories-dropwdown" data-bs-toggle="dropdown" aria-expanded="false">
      Categories
    </a>

    <ul class="dropdown-menu" aria-labelledby="categories-dropwdown">
      {% for category in categories %}
        <li><a class="dropdown-item" href="{% url 'category-page' category.id %}">{{category.category_name}}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock productPageCategories %}

{% block maincontent %}

  <!-- Product details -->
  <div class="product-container">
    <div class="product-image box-shadow">
      <div class="product-thumbs">
        {% if product.product_thumbnail %}
          <img src="{{product.product_thumbnail.url}}">
        {% endif %}
        {% if product.product_image1 %}
          <img src="{{product.product_image1.url}}">
        {% endif %}
        {% if product.product_image2 %}
          <img src="{{product.product_image2.url}}">
        {% endif %}
        {% if product.product_image3 %}
          <img src="{{product.product_image3.url}}">
        {% endif %}
      </div>
      <div class="selected-img">
        {% if product.product_thumbnail %}
          <img src="{{product.product_thumbnail.url}}">
        {% endif %}
      </div>
    </div>
    <div class="product-details box-shadow">
      <h3>{{ product.product_name }}</h3>
      <h5>Product Specs</h5>
      <h4><span class="currency">GHS</span> {{ product.product_price }}</h4>
      <h6>Description</h6>
      <p>{{ product.product_desc }}</p>

      <ul>
        {% for damage in damages %}
          <li>{{damage.description}} 
            {% if damage.image %}
              <a href="#"><img class="damage-image" width="60px" height="60px" src="{{damage.image.url}}"></a>
            {% else %}
              No image to show
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <p class="qty-title">Quantity</p>
      <div class="edit-qty">
        <div class="edit-wrap">
          <div class="minus"><i class="fas fa-minus"></i></div>
          <div class="qty-value"><span>1</span></div>
          <div class="add"><i class="fas fa-plus"></i></div>
        </div>
      </div>
      <input type="hidden" name="product_id" id="p_id" value="{{product.id}}">

      <div class="product-action-buttons">
        <a id="buy-now-btn" href="#" class="btn">BUY NOW</a>
        <a id="add-to-cart-btn" href="#" class="btn">ADD TO CART</a>
        <a id="share-btn" href="#" class="btn" data-bs-toggle="modal" data-bs-target="#share-btnModal">SHARE</a>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="share-btnModal" tabindex="-1" aria-labelledby="share-btnModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="share-btnModalLabel">Copy Link below and Share!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a target="_blank" href="{% url 'view-product' product.id product.product_name %}">
          https://www.alahaberry.com{% url 'view-product' product.id product.product_name %}
        </a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock maincontent %}

{% block JS %}
  <script src="{% static 'alaha_market/js/select-image.js' %}"></script>
{% endblock JS %}
